<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>ggum-min!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>Owner Home</h1>
        <p class="lead">가게 관리</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/owner/stores/new">새 가게 등록</a>
            <a class="btn btn-lg btn-secondary" href="/owner/stores/my-stores">내 가게 조회</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>